* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 16px;
   height: 100%;
}

body {
   height: 100%;
   background-color: #1c1e21;
   color: white;
   max-height: 100vh;
   overflow: hidden;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#title {
   font-family: "Raleway", sans-serif;
   font-size: 2.5rem;
   margin: 2rem;
   text-transform: uppercase;
   letter-spacing: 0.8px;
   opacity: 0.8;
}

#counter {
   width: 95vw;
   font-family: "Poiret One", cursive;
   font-size: 13.5rem;

   display: flex;
   align-items: center;
   justify-content: center;
}

#counter span {
   flex: 1;
   text-align: center;
   letter-spacing: 0.5rem;
}

.button {
   margin: 3.5rem;
   padding: 0.8rem 4rem;
   font-size: 3rem;

   border-radius: 100px;

   color: white;
   font-family: "Nunito", sans-serif;

   transition: all 0.15s ease-in-out;
}

.button:focus {
   outline: none;
}

.button:hover {
   cursor: pointer;
}

.button.start {
   border: 0.62rem solid #00679d;
   background-color: #2980b9;
}
.button.start:hover {
   background-color: #00679d;
}

.button.pause {
   border: 0.62rem solid #e35702;
   background-color: #fd660a;
}
.button.pause:hover {
   background-color: #e35702;
}

.button#reset {
   border: 0.62rem solid #c21a1f;
   background-color: #e01e24;
}
.button#reset:hover {
   background-color: #c21a1f;
}

@media only screen and (max-width: 1200px) {
   html {
      font-size: 13px;
   }
}

@media only screen and (max-width: 950px) {
   html {
      font-size: 10px;
   }
}

@media only screen and (max-width: 680px) {
   html {
      font-size: 8px;
   }
}

@media only screen and (max-width: 550px) {
   html {
      font-size: 6px;
   }
}

@media only screen and (max-width: 420px) {
   html {
      font-size: 4px;
   }
}
@media only screen and (max-width: 300px) {
   html {
      font-size: 3px;
   }

   .button {
      margin: 4rem 2rem;
   }
}
